.f-16 {
  font-size: calc(16px - 1px);
}

.f-17 {
  font-size: calc(17px - 1px);
}

.f-18 {
  font-size: calc(18px - 1px);
}

.f-19 {
  font-size: calc(19px - 1px);
}

.f-20 {
  font-size: calc(20px - 1px);
}
